{% extends 'base.html' %}
{% load static %}
{% block title %} | Playerstat Totals {% endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
        <div class="col-md-12">
            <h1 class="display-4">Player Stat Totals</h1>
        </div>
        </div>
    </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                    <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Player Stat Totals</li>
            </ol>
        </nav>
    </div>
</section>
<!-- playerstat -->
<section id="playerstat" class="py-4">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card-body">
            {% if playerstat %}
                <table style="width:90%">
                        <tr>
                            <!--<th>ID</th>
                            <th>Week</th>
                            <th>Team</th>-->
                            <th>Player Name</th>
                            <th>501 Singles Win</th>
                            <th>501 Singles Loss</th>
                            <th>Cricket Singles Win</th>
                            <th>Cricket Singles Loss</th>
                            <th>501 Doubles Win</th>
                            <th>501 Doubles Loss</th>
                            <th>Cricket Doubles Win</th>
                            <th>Cricket Doubles Loss</th>
                        </tr>
                    {% for player in playerstat %}
                        <tr>
                            <!--<td>{{ player.id }}</td>
                            <td>{{ player.week }}</td>
                            <td>{{ player.team }}</td>-->
                            <td>{{ player.player_name }}</td>
                            <td>{{ player.five_singles_win }}</td>
                            <td>{{ player.five_singles_loss }}</td>
                            <td>{{ player.cricket_singles_win }}</td>
                            <td>{{ player.cricket_singles_loss }}</td>
                            <td>{{ player.five_doubles_win }}</td>
                            <td>{{ player.five_doubles_loss }}</td>
                            <td>{{ player.cricket_doubles_win }}</td>
                            <td>{{ player.cricket_doubles_loss }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="row">
                 <p>No Player Stats Available</p>
                </div>
            {%endif%}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
        {% if playerstat.has_other_pages %}
        <ul class="pagination">
            {% if playerstat.has_previous %}
            <li class="page-item">
                <a href="?page={{playerstat.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled" >
                <a class="page-link">&laquo;</a>
            </li>
            {% endif %}
            {% for i in playerstat.paginator.page_range %}
            {% if playerstat.number == i %}
                <li class="page-item active">
                <a class="page-link">{{i}}</a>
                </li>
            {% else %}
                <li class = "page-item ">
                <a href="?page={{i}}" class = "page-link">{{i}}</a>
                </li>
            {% endif %}
            {% endfor %}
            {% if playerstat.has_next %}
            <li class="page-item">
                <a href="?page={{playerstat.next_page_number}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled" >
                <a class="page-link">&raquo;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        </div>
    </div>
  </div>
</section>
{% endblock %}