{%extends 'base.html' %}
{% load static %}
{% block title %} | Wins-Losses{% endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
        <div class="col-md-12">
            <h1 class="display-4">Wins-Losses</h1>
        </div>
        </div>
    </div>
</section>
<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'standings_search' %}">
            <!-- Form -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Week</label>
                <input type="number" name="week" class="form-control" placeholder="Week Number" 
                  value="{{ retain_values.week }}">
              </div>
              <div class="col-md-4 mb-3">
                <label class="sr-only">Team</label>
                <input type="number" name="team" class="form-control" placeholder="Team ID Number" 
                  value="{{ retain_values.team }}">
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active"> Wins-Losses</li>
        </ol>
        </nav>
    </div>
</section>
<!-- standings -->
<section id="standings" class="py-4">
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
              <div class="card-body">
                {% if standings %}
                <table style="width:90%">
                        <tr>
                            <th>Week</th>
                            <th>Team</th>
                            <th>Wins</th>
                            <th>Losses</th>
                        </tr>
                    {% for standing in standings %}
                        <tr>
                            <td>{{ standing.week }}</td>
                            <td>{{ standing.team }}</td>
                            <td>{{ standing.wins }}</td>
                            <td>{{ standing.losses }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <div class="row">
                    <p>No Standings Records Available</p>
                    </div>
                {%endif%}
              </div>
          </div>
      </div>
    </div>
</section>
{% endblock %}