{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
    <h2>Pdfreports</h2>
    <p>
       {% if user.is_authenticated %}
        <a href="{% url 'upload_pdfreport' %}" class="btn btn-primary">Upload pdfreport</a>
      {% endif %} 
    </p>
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Download</th>
        {% if user.is_authenticated %} 
          <th>Delete</th>
        {% endif %}           
      </tr>
    </thead>
    <tbody>
      {% for pdfreport in pdfreports %}
        <tr>
          <td>{{ pdfreport.title }}</td>
          <td>
            <a href="{{ pdfreport.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download PDF
            </a>
          </td>
          {% if user.is_authenticated %} 
            <td>
              <form method="post" action="{% url 'delete_pdfreport' pdfreport.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          {% endif %} 
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}